<!-- <p>rooms works! {{title}}</p> -->
<!-- <h5>Rooms are {{noOfRooms}}</h5> -->

<button (click) = "countOfRooms()">Please Click to hide</button>

<div [hidden]="hideRooms">
    No of Rooms : 
    <div [ngStyle]="{'color' : noOfRooms > 3 ? 'green' : 'red'}">
    <div [innerText]="noOfRooms"></div>
    </div>
</div>

<div *ngIf = "noOfRooms > 10">Rooms are more than 10 here! </div>

<!-- <ng-template [ngIf]="noOfRooms > 0">
    <div>Content to render when condition is true.</div>
</ng-template> -->

<div class="table-class" *ngIf = "noOfRooms > 2">
    <app-room-list [rooms]="roomList"
    (selectedRoom)="selectRoom($event)">
    </app-room-list>
</div>

<p>not working on ui only on console</p>
<div *ngIf="selectedRoom">
   {{selectedRoom | json}}
</div>